apiVersion: v2
name: support
description: A Helm chart for the supporting components
type: application
version: 1.0.6-pr-pr
appVersion: 1.0.6-pr-pr
icon: https://console.settlemint.com/android-chrome-512x512.png
maintainers:
  - name: SettleMint
    email: support@settlemint.com
    url: https://settlemint.com
dependencies:
  - name: ingress-nginx
    version: 4.12.2
    repository: https://kubernetes.github.io/ingress-nginx
  - name: postgresql-ha
    version: 16.0.9
    repository: oci://registry-1.docker.io/bitnamicharts
  - name: redis
    version: 21.1.11
    repository: oci://registry-1.docker.io/bitnamicharts
  - name: reloader
    version: 2.1.3
    repository: https://stakater.github.io/stakater-charts
