*
!.settlemint
!app
!components
!graphql
!lib
!messages
!paraglide
!project.inlang
!public
!LICENSE
!middleware.ts
!next.config.mjs
!package.json
!postcss.config.mjs
!tailwind.config.ts
!tsconfig.json
!./.next/standalone
!./.next/static
