node_modules
.git
.gitignore
.next
out
.env
.env.local
.cache
.idea
.turbo
kit/contracts/cache
kit/contracts/cache_forge
kit/contracts/genesis-output.json
kit/contracts/ignition/deloyments
kit/contracts/out
kit/dapp/.next
kit/subgraph/build