[submodule "kit/contracts/dependencies/openzeppelin-community-contracts"]
	path = kit/contracts/dependencies/openzeppelin-community-contracts
	url = https://github.com/openzeppelin/openzeppelin-community-contracts
[submodule "kit/contracts/dependencies/openzeppelin-contracts"]
	path = kit/contracts/dependencies/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
