apps/contracts/.settlemint/
apps/contracts/.env.local
apps/contracts/.turbo/
apps/contracts/cache_forge/
apps/contracts/dependencies/
apps/contracts/out/
apps/contracts/settlemint.config.mjs
apps/dapp/.settlemint/
apps/dapp/.env.local
apps/dapp/.next/
apps/dapp/.turbo/
apps/dapp/settlemint.config.mjs
apps/subgraph/.settlemint/
apps/subgraph/.env.local
apps/subgraph/.turbo/
apps/subgraph/settlemint.config.mjs
apps/subgraph/build/
apps/subgraph/generated/
