apiVersion: v2
name: observability
description: A Helm chart for the observability components
type: application
version: 0.1.0
appVersion: "0.1.0"
icon: https://console.settlemint.com/android-chrome-512x512.png
maintainers:
  - name: SettleMint
    email: support@settlemint.com
    url: https://settlemint.com
dependencies:
  - name: victoria-metrics-single
    version: 0.24.4
    repository: https://victoriametrics.github.io/helm-charts/
    condition: victoria-metrics-single.enabled
  - name: alloy
    version: 1.2.1
    repository: https://grafana.github.io/helm-charts
    condition: alloy.enabled
  - name: metrics-server
    version: 3.13.0
    repository: https://kubernetes-sigs.github.io/metrics-server/
    condition: metrics-server.enabled
  - name: kube-state-metrics
    version: 6.3.0
    repository: https://prometheus-community.github.io/helm-charts
    condition: kube-state-metrics.enabled
  - name: grafana
    version: 9.4.4
    repository: https://grafana.github.io/helm-charts
    condition: grafana.enabled
  - name: loki
    version: 6.38.0
    repository: https://grafana.github.io/helm-charts
    condition: loki.enabled
  - name: prometheus-node-exporter
    version: 4.47.3
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus-node-exporter.enabled
  - name: tempo
    version: 1.23.3
    repository: https://grafana.github.io/helm-charts
    condition: tempo.enabled
