apiVersion: v1
kind: Secret
metadata:
  name: {{ include "common.names.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
stringData:
  CONTRACT_ABI_PATH: "/abis"
  BLOCKCHAIN_NETWORK_ID: {{ .Values.config.network.networkId | quote }}
  BLOCKCHAIN_NETWORK_NAME: {{ .Values.config.network.networkName | quote }}
  BLOCKCHAIN_JSON_RPC_ENDPOINT: {{ .Values.config.network.nodeRpcUrl | quote }}
  POSTGRES_CONNECTION_STRING: {{ .Values.config.postgresql | quote }}
  REDIS_HOST: {{ .Values.config.redis.host | quote }}
  REDIS_PORT: {{ .Values.config.redis.port | quote }}
  REDIS_USERNAME: {{ .Values.config.redis.username | quote }}
  REDIS_PASSWORD: {{ .Values.config.redis.password | quote }}
  PORT: {{ .Values.service.port | quote }}
  GRAPHQL_PORT: {{ .Values.service.graphqlPort | quote }}
