# https://github.com/hasura/helm-charts/blob/main/charts/graphql-engine/values.yaml
graphql-engine:
  nameOverride: hasura
  replicas: 1
  labels:
    app.kubernetes.io/instance: atk
    kots.io/app-slug: settlemint-atk
    app.kubernetes.io/part-of: settlemint-atk
    app.kubernetes.io/managed-by: helm
    app.kubernetes.io/component: hasura
  ingress:
    enabled: true
    ingressClassName: "settlemint-nginx"
    hostName: "hasura.k8s.orb.local"
  config:
    metadataOnly: false
    enableInternalConsoleAssets: true
    devMode: true
  secret:
    enabled: true
    adminSecret: "atk"
    redisUrl: "redis://default:atk@redis-master:6379"
    rateLimitRedisUrl: "redis://default:atk@redis-master:6379"
    metadataDbUrl: "postgresql://hasura:atk@postgresql-pgpool:5432/hasura"
    extraSecrets:
      DEFAULT_DB_URL: "postgresql://hasura:atk@postgresql-pgpool:5432/hasura"
  extraEnvs:
    - name: HASURA_GRAPHQL_PG_CONNECTIONS
      value: "10"
    - name: HASURA_GRAPHQL_DATABASE_URL
      valueFrom:
        secretKeyRef:
          key: DEFAULT_DB_URL
          name: atk-secrets
  global:
    imagePullSecrets:
      - image-pull-secret-docker
      - image-pull-secret-ghcr
      - image-pull-secret-harbor
  postgres:
    enabled: false
  initContainers:
    - name: wait-for-postgresql
      image: harbor.settlemint.com/ghcr.io/settlemint/btp-waitforit:v7.7.5
      command: ["/usr/bin/wait-for-it", "postgresql-pgpool:5432", "-t", "0"]

busybox:
  registry: harbor.settlemint.com/docker.io
  repository: busybox
  tag: 1.37
  pullPolicy: IfNotPresent

git:
  image:
    registry: harbor.settlemint.com/docker.io
    repository: alpine/git
    tag: 2.49.0
    pullPolicy: IfNotPresent

job:
  workspace:
    # -- Configure the persistent volume claim for the job workspace
    enabled: true # Set to false to use emptyDir instead of PVC
    size: 1Gi
    storageClass: "" # Optional: specify storage class, otherwise use default
    accessMode: ReadWriteOnce

imagePullSecrets:
  - image-pull-secret-docker
  - image-pull-secret-ghcr
  - image-pull-secret-harbor
