.theme .FormInput::placeholder {
  @apply relative text-blue-500 dark:text-red-500;
    font-style: italic;
    font-size: 18px;
    opacity: 0.7;
}

.theme .InputIcon {
  @apply top-8 left-2 flex h-[1.2rem] w-[1.2rem] items-center justify-center;
}
