---

global:
  artifacts:
    enabled: true

quorumFlags:
  removeGenesisOnDelete: true

storage:
  storageClassName: ""
  size: "1Gi"

cluster:
  provider: local # choose from: local | aws | azure
  cloudNativeServices: false # set to true to use Cloud Native Services (SecretsManager and IAM for AWS; KeyVault & Managed Identities for Azure)

serviceAccountRole:
  annotations:
    helm.sh/hook: pre-install,pre-delete,post-delete
    helm.sh/hook-weight: "-12"

serviceAccountRoleBinding:
  annotations:
    helm.sh/hook: pre-install,pre-delete,post-delete
    helm.sh/hook-weight: "-11"

serviceAccount:
  annotations:
    helm.sh/hook: pre-install,pre-delete,post-delete
    helm.sh/hook-weight: "-11"

initJob:
  annotations:
    helm.sh/hook: pre-install
    helm.sh/hook-weight: "-10"
    helm.sh/hook-delete-policy: "hook-succeeded"
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 150m
      memory: 256Mi
  copyArtifacts:
    resources:
      limits:
        cpu: 200m
        memory: 256Mi
      requests:
        cpu: 50m
        memory: 128Mi

cleanupJob:
  resources:
    limits:
      cpu: 250m
      memory: 256Mi
    requests:
      cpu: 75m
      memory: 128Mi

aws:
  # the aws cli commands uses the name 'quorum-sa' so only change this if you altered the name
  serviceAccountName: quorum-sa
  # the region you are deploying to
  region: ap-southeast-2

azure:
  serviceAccountName: quorum-sa
  # the clientId of the user assigned managed identity created in the template
  identityClientId: azure-clientId
  keyvaultName: azure-keyvault
  # the tenant ID of the key vault
  tenantId: azure-tenantId
  # the subscription ID to use - this needs to be set explicitly when using multi tenancy
  subscriptionId: azure-subscriptionId

# the raw Genesis config
# rawGenesisConfig.blockchain.nodes set the number of validators/signers
rawGenesisConfig:
  genesis:
    includeQuickStartAccounts: false
    config:
      chainId: 53771311147
      algorithm:
        consensus: qbft
        blockperiodseconds: 2
        epochlength: 30000
        requesttimeoutseconds: 65
    gasLimit: "9007199254740991"
    difficulty: "0x1"
    coinbase: "0x0000000000000000000000000000000000000000"
  blockchain:
    nodes:
      generate: true
      count: 1
    accountPassword: "password"

image:
  repository: ghcr.io/settlemint/quorum-genesis-tool
  tag: sha-49c40f5
  pullPolicy: IfNotPresent

imagePullSecrets: []
