{{- if .Values.ingress.enabled -}}
{{- $fullName := include "graph-node.fullname" . -}}
{{- $defaultHost := "" -}}
{{- if and .Values.ingress.hosts (gt (len .Values.ingress.hosts) 0) -}}
  {{- $firstHost := index .Values.ingress.hosts 0 -}}
  {{- if $firstHost.host }}{{- $defaultHost = $firstHost.host -}}{{- end -}}
{{- end -}}
{{- $primaryHost := default $defaultHost .Values.ingress.hostname -}}
{{- $primaryPaths := .Values.ingress.paths -}}
{{- if or (not $primaryPaths) (eq (len $primaryPaths) 0) -}}
  {{- if and .Values.ingress.hosts (gt (len .Values.ingress.hosts) 0) -}}
    {{- $primaryHostMap := index .Values.ingress.hosts 0 -}}
    {{- if and (not $primaryHost) $primaryHostMap.host }}{{- $primaryHost = $primaryHostMap.host -}}{{- end -}}
    {{- if $primaryHostMap.paths }}{{- $primaryPaths = $primaryHostMap.paths -}}{{- end -}}
  {{- end -}}
{{- end -}}
{{- $hasNewSchema := and $primaryPaths (gt (len $primaryPaths) 0) -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "graph-node.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- $className := default .Values.ingress.className .Values.ingress.ingressClassName }}
  {{- if $className }}
  ingressClassName: {{ $className | quote }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- if $hasNewSchema }}
    {{- if $primaryHost }}
    - host: {{ $primaryHost | quote }}
      http:
        paths:
          {{- range $primaryPaths }}
          {{- $pathVal := default "/" .path -}}
          {{- $pathType := default "ImplementationSpecific" .pathType -}}
          {{- $serviceName := default (printf "%s-combined" $fullName) .serviceName -}}
          {{- $servicePortName := .servicePortName -}}
          {{- $servicePortNumber := .servicePort -}}
          {{- if and (not $servicePortName) (not $servicePortNumber) -}}
            {{- if eq $pathVal "/ws/?(.*)" -}}
              {{- $servicePortName = "http-queryws" -}}
            {{- else if eq $pathVal "/admin/?(.*)" -}}
              {{- $servicePortName = "http-admin" -}}
            {{- else if or (eq $pathVal "/indexer/?(.*)") (eq $pathVal "/graphman/?(.*)") -}}
              {{- $servicePortName = "http-status" -}}
            {{- else -}}
              {{- $servicePortName = "http-query" -}}
            {{- end -}}
          {{- end -}}
          - path: {{ $pathVal }}
            pathType: {{ $pathType }}
            backend:
              service:
                name: {{ $serviceName }}
                port:
                  {{- if $servicePortName }}
                  name: {{ $servicePortName }}
                  {{- else }}
                  number: {{ $servicePortNumber | default 80 }}
                  {{- end }}
          {{- end }}
    {{- end }}
    {{- else }}
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          {{- if eq .path "/ws/?(.*)" }}
          - path: {{ .path }}
            pathType: {{ .pathType | default "ImplementationSpecific" }}
            backend:
              service:
                name: {{ $fullName }}-combined
                port:
                  name: http-queryws
          {{- else if eq .path "/admin/?(.*)" }}
          - path: {{ .path }}
            pathType: {{ .pathType | default "ImplementationSpecific" }}
            backend:
              service:
                name: {{ $fullName }}-combined
                port:
                  name: http-admin
          {{- else if or (eq .path "/indexer/?(.*)") (eq .path "/graphman/?(.*)") }}
          - path: {{ .path }}
            pathType: {{ .pathType | default "ImplementationSpecific" }}
            backend:
              service:
                name: {{ $fullName }}-combined
                port:
                  name: http-status
          {{- else }}
          - path: {{ .path }}
            pathType: {{ .pathType | default "ImplementationSpecific" }}
            backend:
              service:
                name: {{ $fullName }}-combined
                port:
                  name: http-query
          {{- end }}
          {{- end }}
    {{- end }}
    {{- end }}
{{- end }}
