{{- $pgLocal := default (dict) .Values.postgresql }}
{{- $pgConfig := ((include "atk.datastores.postgresql" (dict "context" $ "chartKey" "graphNode" "local" $pgLocal)) | fromYaml) | default (dict) }}
{{- $pgExistingSecret := trim (default "" (index $pgConfig "existingSecret")) }}
{{- if eq $pgExistingSecret "" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "graph-node.pgSecretName" . }}
  labels:
    {{- include "graph-node.labels" . | nindent 4 }}
{{- $customSecret := default (dict) .Values.customSecret }}
{{- $pgUserBase := default "thegraph" (index $pgConfig "username") }}
{{- $pgUserOverride := trim (default "" (index $customSecret "PGUSER")) }}
{{- $pgUser := default $pgUserBase $pgUserOverride }}
{{- $pgPasswordBase := default "atk" (index $pgConfig "password") }}
{{- $pgPasswordOverride := trim (default "" (index $customSecret "PGPASSWORD")) }}
{{- $pgPassword := default $pgPasswordBase $pgPasswordOverride }}
data:
  PGUSER: {{ $pgUser | b64enc }}
  PGPASSWORD: {{ $pgPassword | b64enc }}
{{- end }}
