node_modules
.env
.generated

# Hardhat files
/.generated/cache
/.generated/artifacts
/.generated/cache_forge

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition
ignition/deployments/chain-*
ignition/deployments/asset-tokenization
ignition/deployments/asset-tokenization-local
ignition/deployments/smart-protocol-local
ignition/deployments/atk-local

genesis-output.json

# Soldeer
/dependencies
portal


# Scripts
scripts/hardhat/abi
.generated/out-genesis
.docker
tools/docker/besu/genesis.json

# Foundry files
.generated/out
