node_modules
.env

# Hardhat files
/cache
/artifacts
/cache_forge

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition
ignition/deployments/chain-*
ignition/deployments/asset-tokenization

genesis-output.json

# Soldeer
/dependencies
