[profile.ci]
  fuzz = { runs = 10_000 }
  verbosity = 4

[fmt]
  bracket_spacing = true
  int_types = "long"
  line_length = 120
  multiline_func_header = "all"
  number_underscore = "thousands"
  quote_style = "double"
  tab_width = 4
  wrap_comments = true

[rpc_endpoints]
  anvil = "http://localhost:8545"
  btp = "${BTP_RPC_URL}"

[dependencies]
forge-std = "1.9.6"
"@openzeppelin-contracts" = "5.2.0"
"@openzeppelin-contracts-upgradeable" = "5.2.0"
"@onchainid" = { version = "v2.2.1", git = "https://github.com/onchain-id/solidity.git", rev = "2.2.1" }
openzeppelin-community-contracts = { version = "0.0.1", git = "https://github.com/OpenZeppelin/openzeppelin-community-contracts.git", rev = "e33f73d1957e46b9ed17c319ed607bb3c7137944" }
eas-contracts = { version = "1.4.0", git = "https://github.com/ethereum-attestation-service/eas-contracts.git", rev = "v1.4.0" }
smart-protocol = "8.0.16"

[profile.default]
  src = 'contracts'
  out = 'out'
  libs = ["dependencies"]
  test = 'test'
  cache_path  = 'cache_forge'
  solc = "0.8.28"
  optimizer = true
  optimizer_runs = 200
  gas_reports = ["*"]
  gas_reports_ignore = []
  fuzz = { runs = 1_000 }
  auto_detect_solc = false
  extra_output_files = [ "metadata" ]
  viaIR = true
  evm_version = "cancun"
  coverage = true
  coverage_report_lines = true
  coverage_report_statements = true
  bytecode_hash = "none"
  cbor_metadata = true
  cache = true
  force = false

[soldeer]
remappings_version = false
