[profile.ci]
  fuzz = { runs = 10_000 }
  verbosity = 4
  threads = 0

[fmt]
  bracket_spacing = true
  int_types = "long"
  line_length = 120
  multiline_func_header = "all"
  number_underscore = "thousands"
  quote_style = "double"
  tab_width = 4
  wrap_comments = true

[rpc_endpoints]
  anvil = "http://localhost:8545"
  btp = "${BTP_RPC_URL}"

[dependencies]
  forge-std = "1.10.0"
  "@openzeppelin-contracts" = "5.4.0"
  "@openzeppelin-contracts-upgradeable" = "5.4.0"
  "@onchainid" = { version = "v2.2.1", git = "https://github.com/onchain-id/solidity.git", rev = "2.2.1" }

[profile.default]
  src = 'contracts'
  out = '.generated/out'
  libs = ["dependencies"]
  test = 'test'
  cache_path  = '.generated/cache_forge'
  solc = "0.8.30"
  optimizer = true
  optimizer_runs = 200
  gas_reports = ["*"]
  gas_reports_ignore = []
  fuzz = { runs = 1_000 }
  auto_detect_solc = false
  extra_output = [ "devdoc", "userdoc" ]
  viaIR = true
  evm_version = "cancun"
  bytecode_hash = "none"
  cbor_metadata = true
  cache = true
  force = false
  dynamic_test_linking = true
  threads = 0

[soldeer]
  remappings_version = false

[lint]
  lint_on_build = false
  exclude_lints = ["mixed-case-function", "mixed-case-variable", "screaming-snake-case-const", "screaming-snake-case-immutable", "pascal-case-struct", "asm-keccak256"]
