name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - "v*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  actions: write
  checks: write
  contents: write
  deployments: write
  id-token: write
  issues: write
  discussions: write
  packages: write
  pages: write
  pull-requests: write
  repository-projects: write
  security-events: write
  statuses: write

jobs:
  test:
    name: Test
    runs-on: namespace-profile-starterkit
    steps:
      - name: Setup 1Password
        uses: 1password/load-secrets-action/configure@581a835fb51b8e7ec56b71cf2ffddd7e68bb25e0 # v2
        with:
          service-account-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

      - name: Load secrets
        uses: 1password/load-secrets-action@581a835fb51b8e7ec56b71cf2ffddd7e68bb25e0 # v2
        env:
          NPM_TOKEN: op://platform/npmjs/credential
          PAT_TOKEN: op://platform/github-commit-pat/credential

      - name: Checkout repository
        uses: namespacelabs/nscloud-checkout-action@b8c45d632ce8118a5a0a51eb75a57cfccc74b8fa # v5
        with:
          token: ${{ env.PAT_TOKEN }}

      - name: Secret Scanning (Trivy)
        uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0 # 0.29.0
        with:
          scan-type: 'fs'
          scan-ref: '.'
          trivy-config: trivy-secret.yaml
          severity: "HIGH,CRITICAL"
          format: 'table'
          exit-code: '1'
          scanners: 'secret'

      - name: Setup caches
        uses: namespacelabs/nscloud-cache-action@f23fbf3b586540a96f4f5849a5e04c7e56e1e804 # v1
        with:
          path: |
            ./.turbo
            ~/.bun/install/cache

      - name: Start Docker Compose
        run: docker compose up -d

      - name: Setup Bun
        uses: oven-sh/setup-bun@4bc047ad259df6fc24a6c9b0f9a0cb08cf17fbe5 # v2
        with:
          bun-version-file: package.json

      - name: Install Node.js
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version: 22
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@de808b1eea699e761c404bda44ba8f21aba30b2c # v1
        with:
          version: nightly

      - name: Install Bun dependencies
        run: bun install --save-text-lockfile

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@aba9f8db6ef36e0733227a62673d6592b1f430ea # v5

      - name: Update package versions
        id: package-version
        run: bash .github/scripts/update-version.sh

      - name: Connect to SettleMint
        uses: settlemint/settlemint-action@main
        with:
          personal-access-token: ${{ secrets.SETTLEMINT_PERSONAL_ACCESS_TOKEN }}
          access-token: ${{ secrets.SETTLEMINT_ACCESS_TOKEN }}
          dotEnvFile: ${{ secrets.ENV_FILE }}
          dotEnvLocalFile: ${{ secrets.ENV_FILE_LOCAL }}

      - name: Lint & Check Types
        run: bunx turbo run lint check-types test

      - name: Test Deploy
        run: bunx turbo run test:deploy

      - name: Build predeployed subgraph
        working-directory: kit/subgraph
        run: |
         bun graph build | tee subgraph-output.txt

      - name: Store genesis output
        uses: actions/upload-artifact@6f51ac03b9356f520e9adb1b1b7802705f340c2b # v4
        with:
          name: genesis-output
          path: kit/contracts/genesis-output.json

      - name: Store subgraph output
        uses: actions/upload-artifact@6f51ac03b9356f520e9adb1b1b7802705f340c2b # v4
        with:
          name: subgraph-output
          path: kit/subgraph/subgraph-output.txt

      - name: Login to GitHub Container Registry
        if: ${{ env.TAG != 'pr' }}
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to npm
        if: ${{ env.TAG != 'pr' }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ env.NPM_TOKEN }}" >> ~/.npmrc

      - name: Publish
        if: ${{ env.TAG != 'pr' }}
        run: |
          PUBLISH_TASKS=""
          if [[ "$PUBLISH_NPM" == "true" ]]; then
            PUBLISH_TASKS="$PUBLISH_TASKS publish-npm"
          fi
          if [[ "$PUBLISH_DOCKER" == "true" ]]; then
            PUBLISH_TASKS="$PUBLISH_TASKS publish-docker"
          fi
          if [[ -n "$PUBLISH_TASKS" ]]; then
            bunx turbo run $PUBLISH_TASKS
          fi
        env:
          PUBLISH_NPM: true
          PUBLISH_DOCKER: true

      - name: Auto-commit updated package versions
        uses: stefanzweifel/git-auto-commit-action@8621497c8c39c72f3e2a999a26b4ca1b5058a842 # v5
        if: ${{ env.TAG == 'latest' }}
        with:
          commit_message: "chore: update package versions [skip ci]"
          branch: main
          file_pattern: 'package.json'

      - name: Run Trivy vulnerability scanner on the docker image
        if: ${{ env.TAG != 'pr' }}
        uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0 # 0.29.0
        with:
          image-ref: 'ghcr.io/settlemint/starterkit-asset-tokenization:${{ env.VERSION }}'
          format: 'table'
          exit-code: '1'
          trivy-config: trivy-secret.yaml
          severity: "HIGH,CRITICAL"
          scanners: 'secret'

      - name: Run Drizzle migrations
        if: ${{ env.TAG != 'pr' }}
        run: bunx drizzle-kit push
        working-directory: kit/dapp

      - name: Connect to SettleMint
        if: ${{ env.TAG != 'pr' }}
        uses: settlemint/settlemint-action@main
        with:
          auto-connect: false
          auto-login: false
          personal-access-token: ${{ secrets.SETTLEMINT_PERSONAL_ACCESS_TOKEN }}
          access-token: ${{ secrets.SETTLEMINT_ACCESS_TOKEN }}
          dotEnvFile: ${{ secrets.ENV_FILE }}
          dotEnvLocalFile: ${{ secrets.ENV_FILE_LOCAL }}
          command: platform update custom-deployment ${{ env.VERSION }} --wait
